@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23d4acac' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.04);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

.twitter-container {
    margin-top: 15px;
}

.twitter-button {
    display: inline-block;
    background-color: #1da1f2;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.twitter-button:hover {
    background-color: #0d95e8;
}

.new-quote {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    margin-left: 15px;
}

.new-quote:hover {
    background-color: #000;
}

@media (max-width: 600px) {
    .quote-container {
        padding: 15px;
    }

    .quote-text {
        font-size: 2rem;
    }

    .long-quote {
        font-size: 1.5rem;
    }

    .fa-quote-left {
        font-size: 3rem;
    }

    .quote-author {
        font-size: 1.5rem;
    }
}

